body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    padding:0% 5% 0% 5% ;
}
nav{
    display:flex;
    justify-content: space-between;    
}
.logo{
    font-size: 16px;
}
nav img{
    height: 4%;
    width: 4%;
    align-self: center;
}
span{
    color:blueviolet;
}
.nav-menu{
    flex: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(52, 51, 51);
    margin: 0% 2% 0% 2%;
    
}
a:hover{
    color:blueviolet;
}
.home-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;

}
.right{
    
    flex: 1;
    display: flex;
    justify-content: center;
}
.left{

    flex:1;
}
.right div{
    width: 60%;
    float: right;
    height: 40%;
    border: 1px solid rgb(146,144,144);
    margin: auto;
    padding:8%;
    border-radius: 50%;

}
.right img{
    width: 300px;
    height: 300px;
    object-fit: cover;
border-radius: 50% ;
border: 10px solid #eee;
box-shadow: 0 0 0  20px #f9f9f9;

}
.grettings{
    margin-top: 24%;
    font-size: 16px;
    color:rgb(52, 51, 51);
    margin-top: -15px;
}
.primary-text{
    margin-bottom: 5px;
    font-size:50px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 30px;
    color:rgb(52, 51, 51);

}
.secondary-text{
    font-size: 16px;
    color:gray;
 margin-left:2%;
}
button{
    padding: 10px 10px;
    margin-right: 10px;
    border: 1px solid #333;
    background: white;
    cursor: pointer;
}
button:hover{
    background:black ;
    color: white;   
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}